/* Geologica */
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    --bs-font-sans-serif: 'Geologica', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-primary: #132F4D;
    --bs-primary-rgb: 19, 47, 77;
    --bs-secondary: #9CB523;
    --bs-secondary-rgb: 156, 181, 35;
    --bs-secondary-color-rgb: 156, 181, 35;
    --bs-heading-color: var(--bs-primary);
    --bs-link-color-rgb: var(--bs-primary);
    --bs-breadcrumb-font-size: 12px;
    --bs-link-hover-color: var(--bs-primary);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    background-color: #ffffff;
    padding-top: 163px;
}

.navbar {
    box-shadow: 0 4px 23px 0 #0000001A;
    background: #fff !important;
}

.sidebar-toggler {
    background: var(--bs-primary);
    border-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 22px 40px;
}

.sidebar-toggler:hover,
.sidebar-toggler:active {
    background: var(--bs-secondary) !important;
}

.navbar a {
    font-weight: bold;
    color: var(--bs-primary);
}

.navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main-logo {
    position: absolute;
    left: 40px;
    top: 0;
    background: #fff;
    padding: 40px;
    z-index: 1031;
}

.main-logo-shadow {
    width: 364px;
    height: 163px;
    position: fixed;
    left: 40px;
    top: 0;
    z-index: 1029;
    box-shadow: 0 4px 23px 0 #0000001A;
}

h1 .heading-border,
.with-border .heading-border {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 7px solid var(--bs-secondary);
}

.component-fast-links-panel {
    border: 1px solid #CCCCCC;
}


.section-content-wrapper > h2:first-child,
.section-content-wrapper > h3:first-child,
.section-content-wrapper > h4:first-child,
.section-content-wrapper > .my-5:first-child,
.section-content-wrapper > .margin-component:first-child,
.section-content-wrapper > .margin-heading:first-child,
.side-panel > h2:first-child,
.side-panel > h3:first-child,
.side-panel > h4:first-child,
.side-panel > .my-5:first-child,
.side-panel > .margin-component:first-child,
.side-panel > .margin-heading:first-child {
    margin-top: 0 !important;
}

.section-content-wrapper > .my-5:last-child,
.section-content-wrapper > .margin-component:last-child,
.side-panel > .my-5:last-child,
.side-panel > .margin-component:last-child,
.side-panel > .margin-heading:last-child {
    margin-bottom: 0 !important;
}

.section-content-wrapper > h2:last-child,
.section-content-wrapper > h3:last-child,
.section-content-wrapper > h4:last-child,
.section-content-wrapper > .my-5:last-child,
.side-panel > h2:last-child,
.side-panel > h3:last-child,
.side-panel > h4:last-child,
.side-panel > .my-5:last-child {
    margin-bottom: 0 !important;
}

.margin-component {
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.margin-heading,
.section-content h2, .section-content h3, .section-content h4, .section-content h5, .section-content h6,
.side-panel h2, .side-panel h3, .side-panel h4, .side-panel h5, .side-panel h6
{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.column-karta-s-argumenty {
    flex: 1 1 calc((100% - 6rem) / 4);
    max-width: 400px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.column-karta-s-argumenty img {
    max-height: 150px;
    width: 50%;
}

footer {
    line-height: 190%;
}

.footer-upper .delimiter {
    display: block;
    background: #E2D1BB;
    height: 2px;
    margin: 20px 0;
    width: 40px;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

footer .colored-footer {
    background: var(--bs-primary);
    color: #fff;
}

footer .colored-footer ul {
    list-style-type: none;
}

footer .colored-footer li {
    display: inline-block;
    padding: 3px 6px;
}

footer .colored-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-upper a {
    text-decoration: none;
}

.footer-upper a:hover {
    text-decoration: underline;
}

.footer-upper li {
    padding-left: 0;
    margin-left: 0;
}

.rozjizdeci-obsah-nadpis h4 {
    color: #fff;
    margin-top: 0;
    font-weight: bold;
}

.rozjizdeci-obsah-nadpis.collapsed {
    background: var(--bs-primary);
}

.rozjizdeci-obsah-nadpis {
    background: var(--bs-secondary);
    transition: all .3s ease;
    color: #fff;
    padding: 15px 20px;
}

.vyzva-table {

}

.vyzva-table-row {
    border-bottom: 1px solid #ccc;
    padding: 14px 0;
}

.vyzva-table-row *:last-child {
    margin-bottom: 0;
}

.rozjizdeci-obsah-content {
    padding: 10px 0 30px 0;
}

.rozjizdeci-obsah-content > *:last-child {
    margin-bottom: 0 !important;
}

.rozjizdeci-obsah-content .margin-component {
    margin: 0 !important;
}

.rozjizdeci-obsah-content * + .margin-component {
    margin-top: 30px !important;
}

.home-background-image {
    background: url('../images/home-background.jpg') center bottom no-repeat;
    min-height: 650px;
    background-size: cover;
    padding-bottom: 350px;
}

.znaky-obci {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;;
}

.znaky-obci li {
    width: 100px;
    text-align: center;
    font-size: 12px;
}

.znaky-obci img {
    max-width: 100%;
    margin-bottom: 10px;
}

.homepage-karty .home-info-title {
    color: var(--bs-primary);
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 15px;
}

.homepage-karty .home-info-text {
    color: var(--bs-secondary);
    font-size: 20px;
}

.button-style-1 a, button.button-style-1 {
    text-decoration: none;
    background: var(--bs-primary);
    padding: 15px 27px;
    color: #fff;
    border: 0;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 13px;
}

.carousel {
    margin-top: -107px;
}

.carousel-item {
    height: 600px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

.carousel-background-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

.carousel-control-prev,
.carousel-control-next {
    background: #fff;
    color: #000;
    font-size: 36px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    top: 50%;
    margin-top: -30px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #000;
}

.carousel-control-prev {
    left: 40px;
}

.carousel-control-next {
    right: 40px;
}

.slide-title {
    font-size: 40px;
    font-weight: 900;
}
